<!DOCTYPE html>
<html>
  <script language="javascript">
    function validate() {
        alert("<%=error %>");
        window.location.replace('<%=url %>'); 
        return true;
    }
    validate();
  </script>
  <head>
    <title><%= title %></title>
  </head>
  <body>

  </body>
</html>
