<!--  Footer -->
<p>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3"> 
      <small>
        © 2020 Copyright: Task Board 개발중.... <a href="#"> JN </a> 
      </small>
    </div>
</footer>

</body>
</html>
